{% extends 'base/page.html' %}

{% block content %}
<h1>Removal log #{{ removal['removal_log_id'] }}</h1>

<p style="font-size: small">{{ removal['entry_added'] }}</p>
<pre>{{ debian_bugs_markup(removal['reason']) }}</pre>

<h1>Affected files</h1>

<dl>
    {% for hash in files %}
        <dt style="font-size: x-small"><code>{{ hash }}</code>:</dt>
        {% if hash in fileinfo %}
            <dd>
                <dl>
                {% for fi in fileinfo[hash] %}
                    <dt><a href="{{ fi['link'] }}"><code style="font-size: large"><strong>{{ fi['name'] }}</strong></code></a></dt>
                    <dd>
                        Seen in {{ fi['archive_name'] }} on {{ fi['run'] }} in
                        {% if 'dirlink' in fi %}
                            <a href="{{ fi['dirlink'] }}">{{ fi['path'] }}</a>.
                        {% else %}
                            {{ fi['path'] }}.
                        {% endif %}
                        <br />
                        Size: {{ fi['size'] }}
                    </dd>
                {% endfor %}
                </dl>
            </dd>
        {% endif %}
    {% endfor %}
</dl>

{% endblock content %}
