<h1>News</h1>

<h2>2024-10-08</h2>
<p>After some time of trouble with imports lagging
behind, <a title="Glasklar Teknik AB"
href="https://www.glasklarteknik.se/">Glasklar Teknik AB</a>
generously offered to donate and host hardware for a new main site.
Earlier this year, a new 4U Supermicro with an AMD Epyc 24C/48T CPU,
512GB RAM, 10GE + 1GE NICs, SSD storage for the system and 480TB HDD
for storage of packages was purchased and set up. The HDD's are
organised in two RAID6 arrays with 11 x 20TB plus one spare 20TB drive
in each array, providing 2 x 164TB worth of storage.
</p>
<p>The new server has no problems keeping up with importing the full
archives on every update as each run finishes comfortably in time
before it's time to run again. For example, the 'debian' archive which
is updated every six hours takes on average 11 minutes to
import. While the new server is the one doing all the importing of
updated archives, the HTTP interface (https://snapshot.debian.org/) is
being served by both the new server and one of the VM's at LeaseWeb.
Snapshot is currently holding 172TB of data.
</p>
<p>Other recent changes include
  <ul>
    <li>A new API endpoint for listing all timestamps grouped by
    archives (/mr/timestamp/) was added in August 2024.</li>
    <li>The Netfilter rate limiting has been disabled. It will be
    replaced by rate limiting on the HTTP layer, which should be
    easier for clients to deal with.</li>
  </ul>
</p>
<p>Future outlook:
  <ul>
    <li>There is ongoing work to import all lost debian-ports
    history.</li>
    <li>A development and test system is being set up for a less
    stressful develop/test/deploy cycle.</li>
    <li>Replacing SHA-1 with SHA-256 for file identities is
    planned. Old URLs with SHA-1 strings will keep working.</li>
    <li>A reimplementation of the import scripts is being
    considered. The rationale is that it should be easier to find
    programmers who are comfortable with Python than what it is for
    Ruby.</li>
  </ul>
</p>

<h2>2022-09-28</h2>
<p>In the last couple of weeks, the snapshot.debian.org web frontends were
updated from a pylons-based Python 2 application to a flask-based Python 3
application, thanks to work from Baptiste Beauplat.
</p>
<p>Snapshot now carries about 135TB of data, and our generous sponsors at
<a href="https://www.sanger.ac.uk/">Sanger</a> recently upgraded our storage so
the archive can keep expanding, as did <a
href="https://www.leaseweb.com/">LeaseWeb</a> a couple of years ago.
</p>

<h2>2019-09-29</h2>
<p>
Earlier this month, the binary package
<code>node-debbundle-acorn_6.2.1+ds+~0.4.0+~4.0.0+really4.0.0+~1.0.0+~5.0.1+ds+~1.7.0+ds+~0.1.1+~0.3.1+~0.2.0+~0.1.0+~0.3.0+~0.3.0-2_all.deb</code>
was uploaded to the archive,  breaking imports into snapshot due to the long
filename.  The issue was
<a href="https://salsa.debian.org/snapshot-team/snapshot/commit/9b23febfbafa5263812988d5e407ce2d285228b5">fixed
a few days later</a> by changing the data type in the database, but imports <a
href="/archive/debian/?year=2019&month=9">between September 4 and September
8</a> unfortunately failed and these snapshots are lost.
</p>
<p>
Furthermore, the mirror of the
<a href="/archive/debian-debug/"><code>debian-debug</code> archive</a> that
snapshot.debian.org imports from failed to correctly update starting in June.
A symlink had been replaced with a directory causing rsync to fail the mirror
run.  Since rsync failed, the mirroring script did then not trigger the snapshot
importer.  The issue was reported on the mailinglist and fixed the same day.
</p>
<p>
Currently, snapshot consists of close to 90TB of data in about 35 million files
and storage capacity is becoming an issue again.
</p>

<h2>2018-02-13</h2>
<p>
Snapshot keeps growing.  We are now at approximate 60TB of files.  This
made it necessary to break up the RAID-1 mirror across two external
storage arrays which <a href="https://www.sanger.ac.uk/">Sanger</a>
is kindly providing, and it also meant we needed more machines (now six) at our
mirrorsite, which <a href="https://www.leaseweb.com/">LeaseWeb</a> is generously
donating.  Thanks!

<h2>2017-09-21</h2>
<p>
Imports of the debian-ports and debian-debug suite had failed for the last
three weeks as individual files in those archives have exceeded the size
representable in our database schema.  We have now updated the database to
support file sizes up to 9,223,372,036,854,775,807 Bytes (2<sup>63</sup>-1; 8
EiB).  Just like 640KB in ancient times, this will be truly sufficient
indefinitely.

<h2>2014-06-01</h2>
<p>
We added a cluster of machines generously provided by <a
href="https://www.leaseweb.com/">LeaseWeb</a> to provide the snapshot.debian.org
service.
</p>
<p>
Snapshot used to run on two machines hosted at and provided by the <a
href="https://www.sanger.ac.uk/">Wellcome Trust Sanger Institute</a> and by the
<a href="https://www.ece.ubc.ca/">Electrical and Computer Engineering</a>
department at the University of British Columbia, Canada.  A few months ago,
the machine at UBC, named <code>stabile.debian.org</code>, started to die.
Since it was approaching its storage capacity limits anyway, we began looking
for a new second home for snapshot, and LeaseWeb offered!  Providing snapshot
from two different places (now Sanger and LeaseWeb) allows us to survive
temporary and not-so-temporary issues that affect any single site.</p>
<p>
Currently, snapshot consists of 24 terabytes of data in about 15 million files,
and it appears to be growing at a rate of approximately 5 terabytes a year (or
about 10 megabytes per minute).
</p>

<h2>2012-09-23</h2>
<p>
Just a quick datapoint: Currently snapshot has about 11 million files in a bit
over 16 terabytes of data.
</p>

<h2>2010-12-14</h2>
<p>
Around 2010-11-20 the server which hosted snapshot-master stumbled into
hardware issues. This did not affect the external storage but only the front-end
server.  Since the master was down no new data was imported into the snapshot
system and the remaining mirror kept presenting its data as of the 20th.
</p>
<p>
Fortunately the people at the <a href="https://www.sanger.ac.uk/">Wellcome Trust
Sanger Institute</a>, which hosts snapshot-master, have been able to give us
a replacement machine quite quickly.  Thanks!
</p>
<p>
While the master was down, snapshot information was collected by a non-public
backup system.  This data has been integrated into snapshot.debian.org.
Unfortunately, one of the package pools, <code>debian-ports</code>, was not
archived on that secondary system, and for this archive we have no data
in the affected time period.
</p>

<h2>2010-09-07</h2>
<p>
Renamed the backports.org archive to debian-backports as it has now
<a href="https://lists.debian.org/20100905211658.GH7615@lisa.snow-crash.org">moved
to debian.org infrastructure</a>.  A rewrite rule has been put in place
so old URLs should continue to work (at least for HTTP clients that know
how to follow HTTP redirects).
</p>

<h2>2010-08-16</h2>
<p>
Set up a caching proxy in front of the two snapshot webservers.  This will help
in cases where an entire organisation uses various apt sources.list entries on
a lot of their machines.
</p>
<p>
Usually such entities would use proxy caches like squid and then there is no
problem, assuming the cache works correctly.  Unfortunately apt-cacher, apparently
a common choice which is supposed to be smarter for debian archives, completely ignores the
Cache-Control headers that snapshot sends and hits this service for all
requests made to anything under <code>dist/</code>.  A single <code>apt-get
update</code> can cause up to a few dozen of such requests and when multiplied
by scores of machines - all running the update at the same time - this caused
the snapshot backend to run into limits.  Now such requests won't hit the backend
any more.
</p>

<h2>2010-04-12</h2>
<p>
Publicly <a href="https://www.debian.org/News/2010/20100412">announce the snapshot.debian.org service</a>.  Yay.
</p>

<hr style="height:1px;" />
<p>For older entries see <a href="oldnews">the older news page</a>.</p>
